@charset "ISO-8859-1";
body {
  background: fixed url("../img/fondoEditarPerfil.jpg") no-repeat;
  background-size: cover;
}

.container{
    padding-top: 140px;
    padding-bottom: 10px;
}

.editarPerfil .foto {
    margin: 0 0 1rem 0;
    padding-bottom: 1rem;
    text-align: center;
}
 
.logo{
    padding-bottom: 60%;
}
.logo img{
    width: 100%;
 }


.editarPerfil .foto h5.titulo {
    margin: 0 0 0.5rem 0;
}
.editarPerfil .foto h6.user-email {
    margin: 0;
    font-size: 0.8rem;
    font-weight: 400;
    color: #9fa8b9;
}
.editarPerfil .texto {
    margin: 2rem 0 0 0;
    text-align: center;
}
.editarPerfil .texto h5 {
    margin: 0 0 15px 0;
    color: #007ae1;
}
.editarPerfil .texto p {
    font-size: 1rem;
}
.form-control {
    border: 1px solid #cfd1d8;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: .825rem;
    background: #ffffff;
    color: #2e323c;
}

.check {
  border-radius: 5px;
  width: 200px;
  height: 60px;
  text-align: right;
  position: absolute;
  display: flex;
  top: 100px;
  left:-300px;
  align-items: center;
  background-color: #08c41b;
  cursor: pointer;
  box-shadow: 9px 9px 18px #c5e3fb, -9px -9px 18px #c5e3fb;
  color: white;
  margin: 20px;
  transition: all ease-in-out 0.5s;
}

.warning {
  border-radius: 5px;
  width: 220px;
  height: 60px;
  text-align: right;
  position: absolute;
  display: flex;
  top: 100px;
  left:-300px;
  align-items: center;
  background-color: orange;
  cursor: pointer;
  box-shadow: 9px 9px 18px whitesmoke, -9px -9px 18px whitesmoke;
  color: white;
  margin: 20px;
  transition: all ease-in-out 0.5s;
}

.warning:hover{
  background-color: rgb(222, 126, 0);
  transition:0.5s;
}


.rotate {
  animation: rotate 2s linear infinite;
}

.alerta{
	position: absolute;
	top: 0px;
	transition: all ease-in-out 0.5s;
	animation: entrada 0.5s ease-in-out 0.5s forwards;
}

@keyframes entrada {
  from {
    left: -300px;
  }
  to {
    left: 300px;
  }
}

.check:hover {
  background-color: green;
  transition: 0.5s;
}

.close-btn {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  right: 6px;
}