body {
  background: url("../img/fondoNuestroEquipo.png") fixed no-repeat;
  background-size: cover;
}

/*Estilos titulo superior*/
.tituloSuperior {
  padding-top: 100px;
  text-align: center;
  color: #1a39b8;
}

.tituloSuperior span {
  font-size: 0.5em;
  color: rgb(13, 90, 255);
  z-index: -2;
  position: relative;
}

/*Estilos contenedor con clases "tarjets" dentro*/
.tarjetas {
  margin-top: -100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/*Estilos para cada tarjeta*/
.tarjeta {
  width: 300px;
  height: 300px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0 36px;
  margin: 250px 0 10px 0;
}

.botonmenu {
  margin-right: 15%;
}

/*Hacer las tarjetas wrap para que cuando la pantalla se haga más pequeña se cambien de fila y se quiten los textos de todas menos el de director*/
@media (max-width: 905px) {
  .tarjetas.salto {
    flex-wrap: wrap;
  }

  .textos {
    display: none;
    visibility: hidden;
  }
}

@media (max-width: 765px) {
  .tarjeta {
    margin-left: 10px;
    margin-right: 10px;
  }
}

/*hacer que los textos de los odontologos desaparezcan y el footer ocupe un poco más*/
@media (max-width: 639px) {
  .footer {
    width: 115%;
  }
  .textosOdontologos {
    display: none;
    visibility: hidden;
  }
}

/*estilos de las tarjetas y sus imagenes, tanto las de fondo como las de hover, incluido el nombre ya que también es una imagen*/
.cover-image {
  width: 100%;
  height: 100%;
  background-size: cover;
}

.wrapper {
  transition: all 0.5s;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.tarjeta:hover .wrapper {
  transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
  box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}

.wrapper::before,
.wrapper::after {
  content: "";
  opacity: 0;
  width: 100%;
  height: 80px;
  transition: all 0.5s;
  position: absolute;
  left: 0;
}

.wrapper::before {
  top: 0;
  height: 100%;
  background-image: linear-gradient(
    to top,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}

.wrapper::after {
  bottom: 0;
  opacity: 1;
  background-image: linear-gradient(
    to bottom,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}

.tarjeta:hover .wrapper::before,
.wrapper::after {
  opacity: 1;
}

.tarjeta:hover .wrapper::after {
  height: 120px;
}

.title {
  width: 100%;
  transition: transform 0.5s;
}

.tarjeta:hover .title {
  transform: translate3d(0%, -50px, 100px);
}

.character {
  width: 100%;
  top: 20px;
  opacity: 0;
  transition: all 0.5s;
  position: absolute;
  z-index: -1;
}

.tarjeta:hover .character {
  opacity: 1;
  transform: translate3d(0%, -30%, 100px);
}

.texto-tarjeta h1 {
  color: rgb(0, 119, 255);
}

.texto-tarjeta {
  width: 280px;
  margin: auto;
  text-align: center;
  margin-top: 10px;
  color: white;
}
/*fin estilos tarjetas*/